@import "_null.scss";

body {
  background-color: #14110e;
}
.header {
  width: 100%;
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 125px;
    a {
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
      text-align: left;
      color: #ffffff;
      transition: 200ms;
      svg path {
        transition: 200ms;
      }
      &:hover {
        svg path {
          stroke: #c99e71;
          transition: 200ms;
        }
        color: #c99e71;
        transition: 200ms;
      }
    }
  }
  .nav__left {
    //margin-left: 300px;
    margin-right: 181px/1920px * 100%;
    @media (max-width: 1250px) {
      margin-right: 100px/1920px * 100%;
    }
    > ul {
      display: flex;
      align-items: center;

      flex-direction: row;
      > li {
        margin-right: 48px;
      }
    }
  }
  .nav__logo {
    > img {
      width: 72px;
      height: 60px;
    }
  }
  .nav__right {
    margin-left: 180px/1920px * 100%;
    @media (max-width: 1250px) {
      margin-left: 100px/1920px * 100%;
    }
    //margin-right: 300px;
    > ul {
      display: flex;
      align-items: center;

      flex-direction: row;
      > li {
        margin-left: 48px;
      }
    }
  }
  .top-banner {
    width: 100%;
    height: 740px;
    background: url("../images/Rectangle\ 13.jpg") bottom no-repeat;
    margin: 0 auto;
    //background-position: 0px -392px;
    h1 {
      font-family: Righteous;
      font-size: 72px;
      font-weight: 400;
      line-height: 93.6px;
      text-align: left;
      padding-top: 147px;
    }
    p {
      font-family: Urbanist;
      font-size: 20px;
      font-weight: 500;
      line-height: 36px;
      text-align: left;
      text-transform: capitalize;
      margin-top: 32px;
    }
    .top-banner__tagline-right {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;
      a {
        margin-top: 64px;
        button {
          width: 202px;
          height: 70px;
          padding: 0 35px;
          gap: 10px;

          background-color: #c99e71;
          font-family: Inter;
          font-size: 18px;
          font-weight: 700;
          line-height: 21.78px;
          text-align: left;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
      .play {
        display: flex;
        flex-direction: column;
        align-items: center;
        .play__img {
          width: 70px;
          height: 70px;
          border: 1.5px solid #ffffff;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 24px;
            max-height: 24px;
          }
        }
        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          text-align: left;
          margin-top: 20px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.coffee-preview {
  padding-top: 140px;
  .coffee-preview__container {
    display: flex;
    justify-content: space-between;
    div {
      width: 366px;
      height: 474px;
      p {
        font-family: Righteous;
        font-size: 24px;
        font-weight: 400;
        line-height: 29.8px;
        text-align: left;
        span {
          color: #c99e71;
        }
      }
      img {
        padding-top: 24px;
      }
    }
  }
}

.history {
  padding-top: 140px;
  .history__container {
    display: flex;
    justify-content: space-between;
    height: 635px;
    .history__container_left {
      width: 298px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        img {
          width: 298px;
          height: 302px;
        }
      }
    }
    .history__container_mid {
      width: 298px;
    }
    .history__container_right {
      width: 510px;
      padding: 120px 56px 0px 56px;
      background-color: #1c1814;
      p {
        font-family: Urbanist;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
        text-align: left;
        color: #c99e71;
      }
      h2 {
        font-family: Righteous;
        font-size: 48px;
        font-weight: 400;
        line-height: 62.4px;
        text-align: left;
        margin-top: 12px;
      }
      .history__container_right-bot {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: left;
        text-transform: capitalize;
        color: #ffffffcc;
        margin-top: 36px;
      }
    }
  }
}

.product {
  height: 849px;

  margin-top: 140px;
  .product__articles {
    p {
      font-family: Urbanist;
      font-size: 18px;
      font-weight: 600;
      line-height: 21.6px;
      text-align: left;
      color: #c99e71;
      text-align: center;
    }
    h2 {
      font-family: Righteous;
      font-size: 48px;
      font-weight: 400;
      line-height: 62.4px;
      text-align: center;
    }
  }
  .product__item-list {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    .product__item-list_item-1 {
      width: 366px;
      height: 579px;
      background-color: #121315;
      .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-container__img {
          display: flex;
          justify-content: center;
          img {
            margin-top: 48px;
          }
        }
        .item-container__article {
          h3 {
            font-family: Righteous;
            font-size: 24px;
            font-weight: 400;
            line-height: 29.8px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 36px;
          }
        }
        button {
          height: 48px;
          width: 169px;
          margin-top: 38px;
          background-color: #c99e71;
          display: flex;
          align-items: center;
          svg {
            margin: 0 12px 0 20px;
          }
          p {
            font-family: Urbanist;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.6px;
            text-align: left;
          }
        }
      }
    }
  }
  .product__item-list_item-2 {
    width: 366px;
    height: 579px;
    background-color: #121315;
    .item-container__img {
      display: flex;
      justify-content: center;
      img {
        margin-top: 48px;
      }
    }
    .item-container__grade {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      margin-top: 37px;
      p {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: left;
        color: #c99e71;
        margin-right: 7px;
      }
      .item-container__grade_stars {
        margin-left: 7px;
      }
    }
    .item-container__article {
      h3 {
        font-family: Righteous;
        font-size: 24px;
        font-weight: 400;
        line-height: 29.8px;
        text-align: left;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
      }
    }
    .item-container__price {
      p {
        font-family: Urbanist;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
        text-align: left;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        span {
          color: #c99e71;
        }
      }
    }
  }
  .product__item-list_item-3 {
    width: 366px;
    height: 579px;
    background-color: #121315;
    .item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .item-container__img {
        display: flex;
        justify-content: center;
        img {
          margin-top: 48px;
        }
      }
      .item-container__grade {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 37px;
        p {
          font-family: Urbanist;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: left;
          color: #c99e71;
          margin-right: 7px;
        }
        .item-container__grade_stars {
          margin-left: 7px;
        }
      }
      .item-container__article {
        h3 {
          font-family: Righteous;
          font-size: 24px;
          font-weight: 400;
          line-height: 29.8px;
          text-align: left;
          text-transform: uppercase;
          text-align: center;
          margin-top: 20px;
        }
      }
      .item-container__price {
        p {
          font-family: Urbanist;
          font-size: 18px;
          font-weight: 600;
          line-height: 21.6px;
          text-align: left;
          text-transform: uppercase;
          text-align: center;
          margin-top: 20px;
          span {
            color: #c99e71;
          }
        }
      }
      .item-container__btn-left {
        height: 48px;
        width: 169px;
        margin-top: 38px;
        background-color: #c99e71;
        display: flex;
        align-items: center;
        svg {
          margin: 0 12px 0 20px;
        }
        p {
          font-family: Urbanist;
          font-size: 18px;
          font-weight: 600;
          line-height: 21.6px;
          text-align: left;
        }
        display: none;
      }
    }
    &:hover {
      .item-container__grade {
        display: none;
      }
      .item-container__price {
        display: none;
      }
      .item-container__article {
        margin-top: 36px;
        h3 {
          margin-top: 0;
        }
      }
      .item-container__btn-left {
        display: flex;
      }
    }
  }
  .prod-btn-cont {
    display: flex;
    justify-content: center;
    margin-top: 67px;
    .product__btn {
      width: 252px;
      height: 62px;
      padding: 20px 36px 20px 36px;
      background-color: #c99e71;
      font-family: Inter;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.78px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.coffee-machine {
  display: flex;
  height: 530px;
  background-color: #1c1814;
  margin-top: 140px;
  .coffee-machine__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 160px/1170px * 100% 0 169px/1170px * 100%;
    img {
      width: 226px;
      height: 359px;
    }
  }
  .coffee-machine__right {
    width: 526px/1170px * 100%;
    h2 {
      font-family: Righteous;
      font-size: 48px;
      font-weight: 400;
      line-height: 62.4px;
      text-align: left;
      margin-top: 72px/526px * 100%;
    }
    p {
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 500;
      line-height: 28.8px;
      text-align: left;
      text-transform: capitalize;
      color: #ffffffcc;
      margin-top: 36px/526px * 100%;
    }
    button {
      width: Hug (215px) px;
      height: Hug (62px) px;
      top: 3766px;
      left: 930px;
      padding: 20px 36px 20px 36px;
      gap: 10px;
      opacity: 0px;
      background-color: #c99e71;
      margin-top: 36px/526px * 100%;
      font-family: Inter;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.78px;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

.coffee-menu {
  height: 740px;
  margin-top: 140px;
  > p {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #c99e71;
    text-align: center;
  }
  > h2 {
    font-family: Righteous;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 12px/740px * 100%;
  }
  .coffee-menu__container {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    .coffee-menu__container_left {
      display: flex;
      width: 565px/1170px * 100%;
      flex-direction: column;
      .item-in-coffee-menu__img {
        margin-right: 21px/565px * 100%;
      }
      .item-in-coffee-menu__text {
        margin-right: 117px/565px * 100%;
      }
      > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #32323d;
        padding: 24px;
        margin-bottom: 36px/740px * 100%;
        div {
          p {
            font-family: Righteous;
            font-size: 24px;
            font-weight: 400;
            line-height: 29.8px;
            text-align: left;
          }
          &:last-child {
            p {
              font-family: Urbanist;
              font-size: 18px;
              font-weight: 600;
              line-height: 21.6px;
              text-align: right;
              color: #c99e71;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .coffee-menu__container_right {
      display: flex;
      width: 565px/1170px * 100%;
      flex-direction: column;
      .item-in-coffee-menu__img {
        margin-right: 21px/565px * 100%;
      }
      .item-in-coffee-menu__text {
        margin-right: 117px/565px * 100%;
      }
      > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #32323d;
        padding: 24px;
        margin-bottom: 36px/740px * 100%;
        div {
          p {
            font-family: Righteous;
            font-size: 24px;
            font-weight: 400;
            line-height: 29.8px;
            text-align: left;
          }
          &:last-child {
            p {
              font-family: Urbanist;
              font-size: 18px;
              font-weight: 600;
              line-height: 21.6px;
              text-align: right;
              color: #c99e71;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.customers {
  height: 549px;
  margin-top: 140px;
  > p {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #c99e71;
    text-align: center;
  }
  > h2 {
    font-family: Righteous;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: center;
    margin-top: 12px;
  }
  .customers__container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    .customers__container_item {
      background-color: #1c1814;
      width: 565px/1170px * 100%;
      .customers-item-card {
        margin: 40px;
        .customers-item-card__top {
          display: flex;
          > div {
            &:last-child {
              margin-left: 24px;
              p {
                font-family: Urbanist;
                font-size: 16px;
                font-weight: 500;
                line-height: 28.8px;
                text-align: left;
                color: #ffffffcc;
              }
            }
          }
        }
        .customers-item-card__bot {
          display: flex;
          justify-content: space-between;
          margin-top: 32px;
          .customers-item-card__bot_text {
            h4 {
              font-family: Urbanist;
              font-size: 18px;
              font-weight: 500;
              line-height: 21.6px;
              text-align: left;
            }
            p {
              font-family: Urbanist;
              font-size: 14px;
              font-weight: 500;
              line-height: 25.2px;
              text-align: left;
              color: #ffffff80;
              margin-top: 4px;
            }
          }
          .customers-item-card__bot_stars {
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .customers__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    .customers__nav_left {
      p {
        font-family: Urbanist;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        color: #c99e71;
      }
      .string-in-nav {
        position: relative;
        margin-top: 20px;
        div {
          &:first-child {
            width: 120px;
            height: 4px;
            position: absolute;
            z-index: 3;
            display: block;

            gap: 0px;
            border-radius: 3px;
            opacity: 0.1;
            background: #ffffff;
          }
          &:last-child {
            width: 50px;
            height: 4px;
            position: absolute;
            z-index: 4;
            display: block;

            gap: 0px;
            border-radius: 3px;
            opacity: 1;
            background-color: #c99e71;
          }
        }
      }
    }
    .customers__nav_right {
      .arrows-in-nav {
        width: 128px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          &:first-child {
            div {
              width: 56px;
              height: 56px;
              background-color: #121315;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          &:last-child {
            div {
              width: 56px;
              height: 56px;
              background-color: #c99e71;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.map {
  margin-top: 140px;
  height: 652px;
  display: flex;
  > div {
    width: 585px;
  }
  .map__right {
    background-color: #1c1814;
    .map__right_article {
      p {
        font-family: Urbanist;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
        text-align: center;
        color: #c99e71;
        margin-top: 72px;
      }
      h2 {
        font-family: Righteous;
        font-size: 48px;
        font-weight: 400;
        line-height: 59.6px;
        text-align: center;
        margin-top: 12px;
      }
    }
    .map__right_forms {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        input[type="text"] {
          width: 489px;
          height: 64px;
          margin-top: 24px;
          background-color: #14110e;
          font-family: Urbanist;
          font-size: 18px;
          font-weight: 600;
          line-height: 32.4px;
          text-align: left;
          color: #ffffffcc;
          padding-left: 20px;
        }
        input[type="submit"] {
          width: 202px;
          height: 62px;
          padding: 20px 36px 20px 36px;
          margin-top: 56px;
          background-color: #c99e71;
          font-family: Inter;
          font-size: 18px;
          font-weight: 700;
          line-height: 21.78px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}

.latest-news {
  height: 680px;
  margin-top: 140px;
  > p {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    color: #c99e71;
  }
  > h2 {
    font-family: Righteous;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: center;
    margin-top: 12px;
  }
  .latest-news__container {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    .latest-news__container_item {
      background-color: #1c1814;
      height: 528px;
      width: 366px;
      > img {
        max-height: 360px;
        width: 100%;
      }
      .news-item-text {
        //margin-top: 20px;
        padding: 20px 24px 0 24px;
        .news-item-text__top {
          display: flex;
          justify-content: space-between;
          div {
            &:first-child {
              p {
                font-family: Urbanist;
                font-size: 18px;
                font-weight: 500;
                line-height: 21.6px;
                text-align: left;
                span {
                  color: #c99e71;
                }
              }
            }
            &:last-child {
              p {
                font-family: Urbanist;
                font-size: 18px;
                font-weight: 500;
                line-height: 21.6px;
                text-align: left;
              }
            }
          }
        }
        > h3 {
          margin-top: 16px;
          font-family: Righteous;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
          text-transform: capitalize;
        }
        > a {
          width: max-content;
          display: flex;
          //padding-right: 100px;
          div {
            margin-top: 32px;
            display: flex;
            align-items: center;
            p {
              transition: 200ms;
            }
            //width: 320px;
            &:hover {
              p {
                color: #c99e71;
                transition: 200ms;
              }
            }
            p {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

.nav-bot {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-bot__menu {
    ul {
      display: flex;
      align-items: center;
      li {
        margin-right: 40px;
        @media (max-width: 1250px) {
          margin-right: 20px;
        }
        a {
          font-family: Urbanist;
          font-size: 20px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #ffffff;
          transition: 200ms;
          &:hover {
            color: #c99e71;
            transition: 200ms;
          }
        }
      }
    }
  }
  .nav-bot__input {
    position: relative;
    form {
      input[type="email"] {
        width: 328px;
        height: 72px;
        background-color: #1c1814;
        border-radius: 36px;
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: left;
        color: #ffffffcc;
        padding-left: 28px;
        //position: absolute;
      }
      input[type="submit"] {
        width: 48px;
        height: 48px;
        box-shadow: 0px 22px 44px 0px #c99e7133;
        border-radius: 100%;
        background-color: #c99e71;
        //background-image: url(images/arrow-right3.png);
        background: url(../images/arrow-right3.png) #c99e71 no-repeat center;
        position: absolute;
        right: 12px;
        top: 12px;
      }
    }
  }
}

footer {
  width: 100%;
  margin-top: 70px;
  height: 90px;
  background-color: #1c1814;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
  }
}
